// Variables
@color-primary: #502050;
@color-secundary: #ee68a4;
@dark-magenta: #937b92;
@light-magenta: #f7f2f7;
@light: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Spartan", sans-serif;
  font-size: 62.5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
