.message {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  &__words {
    margin-right: 10px;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  &__box {
    width: 320px;
    height: 240px;
  }
}
