.message {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.message__words {
  margin-right: 10px;
}
.message__words h1 {
  width: 70%;
  margin: 0 auto 10px auto;
  text-align: left;
  font-size: 2.5rem;
}
.message__words p {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  line-height: 160%;
}
.social {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.social__box {
  width: 320px;
  height: 240px;
}
